/*Comp20 Lab 5 */
#title{
	text-align: center;
	font-family: "Times New Roman";
	font-size: 30px;
}

video{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#lyrics{
	text-align: center;
	font-size: 25px;
	font-family: "Times New Roman";
}