h3{
	font-size: 36px;
	text-align: center;
	text-decoration: underline;
	}
p{
	margin: 1% 5% 1% 5%;
	font-size: 20px;
}
h1{
	margin: 0% 5% 0% 1%;
}
h2{
	margin: 0% 5% 0% 3%;
}
pre{
	font-size: 15px;
}